<!-- -*- mode: XML -*- -->

<launch>
    <node pkg="wubble2_robot" type="gripper_action_controller.py" name="grip_control" output="screen" respawn="false">
        <param name="left_finger_controller" value="gripper_left_finger_controller" />
        <param name="right_finger_controller" value="gripper_right_finger_controller" />
    </node>
</launch>
