<launch>
    <!-- send erratic description to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find wubble_description)/urdf/wubble2.urdf.xacro'" />

    <!-- Start the Dynamixel servo manager to control Lower Arm (wrist and fingers) -->
    <node name="lower_arm_motor_manager" pkg="ax12_controller_core" type="controller_manager.py" output="screen">
        <param name="port_name" type="str" value="/dev/wubble2LowerArm"/>
        <param name="baud_rate" type="int" value="1000000"/>
        <param name="max_motor_id" type="int" value="25"/>
        <param name="update_rate" type="int" value="50"/>
    </node>

    <!-- Start the Dynamixel servo manager to control Upper Arm (shoulder and elbow) -->
    <node name="upper_arm_motor_manager" pkg="ax12_controller_core" type="controller_manager.py" output="screen">
        <param name="port_name" type="str" value="/dev/wubble2UpperArm"/>
        <param name="baud_rate" type="int" value="1000000"/>
        <param name="max_motor_id" type="int" value="25"/>
        <param name="update_rate" type="int" value="50"/>
    </node>

    <!-- Start the Dynamixel servo manager to control Head pan and tilt and neck laser tilt -->
    <node name="head_motor_manager" pkg="ax12_controller_core" type="controller_manager.py" output="screen">
        <param name="port_name" type="str" value="/dev/wubble2Head"/>
        <param name="baud_rate" type="int" value="1000000"/>
        <param name="max_motor_id" type="int" value="25"/>
        <param name="update_rate" type="int" value="50"/>
    </node>

    <!-- Start all wubble arm joint controllers -->
    <rosparam file="$(find wubble2_robot)/config/wubble_arm.yaml" command="load"/>
    <node name="wubble_upper_arm_controller_spawner" pkg="ax12_controller_core" type="controller_spawner.py"
          args="--port /dev/wubble2UpperArm
                shoulder_pitch_controller
                shoulder_pan_controller
                upperarm_roll_controller
                elbow_flex_controller"
          output="screen"/>
    <node name="wubble_lower_arm_controller_spawner" pkg="ax12_controller_core" type="controller_spawner.py"
          args="--port /dev/wubble2LowerArm
                forearm_roll_controller
                wrist_pitch_controller
                wrist_roll_controller
                left_finger_controller
                right_finger_controller"
          output="screen"/>

    <!-- Start all wubble head joint controllers -->
    <rosparam file="$(find wubble2_robot)/config/wubble_head.yaml" command="load"/>
    <node name="wubble_head_controller_spawner" pkg="ax12_controller_core" type="controller_spawner.py"
          args="--port /dev/wubble2Head
                head_pan_controller
                head_tilt_controller
                neck_tilt_controller"
          output="screen"/>
</launch>
