<launch>
    <node name="ax12_driver_manager" pkg="ax12_driver_core" type="manager.py" output="screen" required="true">
        <param name="port_name" type="str" value="/dev/tty.usbserial-A9005N0l"/>
        <param name="baud_rate" type="int" value="1000000"/>
        <param name="max_motor_id" type="int" value="25"/>
        <param name="update_rate" type="int" value="1"/>
    </node>

    <param name="arm_controller/shoulder_pan_joint/motor_id" type="int" value="1"/>
    <rosparam param="arm_controller/shoulder_tilt_joint/motor_ids">[2, 3]</rosparam>
    <rosparam param="arm_controller/elbow_tilt_joint/motor_ids">[5, 4]</rosparam>
    <param name="arm_controller/wrist_rotate_joint/motor_id" type="int" value="6"/>
    <param name="arm_controller/finger_right_joint/motor_id" type="int" value="7"/>
    <param name="arm_controller/finger_left_joint/motor_id" type="int" value="8"/>

    <node name="arm_spawner" pkg="ax12_driver_core" type="driver_ctrl.py"
    args="start $(find smart_arm_controller)/src/smart_arm_controller/smart_arm.py"
    output="screen"/>
</launch>
