<launch>
    <param name="/use_sim_time" type="bool" value="true" />

    <!-- send the erratic robot XML to param server -->
    <param name="robot_description" 
           textfile="$(find wubble_description)/urdf/wubble_base_only.urdf" />

    <!-- spawn stock gazebo with a slightly customized empty world -->
    <node name="gazebo" pkg="gazebo" type="gazebo" 
          args="-u $(find simulation_semantics)/worlds/empty.world" 
          respawn="false" output="screen" />

    <!-- node with services to spawn the wubble robot base -->
    <node pkg="wubble_description" type="wubble_spawner.py" name="wubble_spawner" />
</launch>
