<launch>
    <!-- start gazebo with an empty plane -->
    <node name="gazebo" pkg="gazebo" type="gazebo" 
          args="$(find gazebo_worlds)/worlds/empty.world" respawn="false" />
    
    <!-- Load the robot with controllers -->
    <include file="$(find wubble_description)/launch/wubble_robot.launch" />
    
    <!-- an empty map so navigation will still work -->
    <node name="map_node" pkg="map_server" type="map_server" 
          args="$(find wubble_environments)/Media/materials/textures/empty_map.yaml" respawn="false" output="screen" />

    <!-- since there is no way to localize, just set /map = /odom -->
<!--    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100" />-->

</launch>

