<launch>
    <!-- Run the move base translator -->
    <node pkg="move_base_client" type="move_base_translator" name="move_base_translator">
        <param name="action_name" value="move_base" />
    </node>

    <!-- for moving -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
        <remap from="odom" to="erratic_odometry/odom" />
        <param name="controller_frequency" value="10.0" />
        <param name="footprint_padding" value="0.015" />
        <param name="controller_patience" value="15.0" />
        <param name="clearing_radius" value="0.18" />
        <param name="global_frame" value="0.59" />

        <rosparam file="$(find wubble_robots)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find wubble_robots)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find erratic_gazebo)/navfn_params.yaml" command="load" />
        <rosparam file="$(find erratic_gazebo)/base_local_planner_params.yaml" command="load" />
    </node>

    <!-- Start the map server (TODO: Make a real map) -->
    <node name="map_node" pkg="map_server" type="map_server" args="$(find gazebo_worlds)/Media/materials/textures/map_blank.png 0.1" respawn="false" output="screen" />

    <!-- start rviz with navigation enabled -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find wubble_demos)/rviz/gmapping.vcg"/>

    <!-- dynamic map generation -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" respawn="false" >
        <remap to="tilt_scan" from="scan"/>
    </node>
</launch>
