<launch>
    <!-- Load head pan/tilt controller parameters from YAML file -->
    <rosparam file="$(find wubble_controllers)/config/head_pan_tilt.yaml" command="load"/>

    <!-- Start the head pan/tilt controllers -->
    <node name="wubble_head_controller_spawner" pkg="ax12_controller_core" type="controller_spawner.py"
          args="--port /dev/ax12 --command start
                head_pan_controller
                head_tilt_controller"
          output="screen"/>
</launch>
