<launch>
    <!-- Start the joystick node -->
    <node respawn="true" pkg="joy" type="joy_node" name="joy" >
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
        <!-- <remap from="joy" to="logitech" /> -->
    </node>

    <!-- Load world, robots and controllers -->
    <!-- <include file="$(find wubble_teleop)/launch/pr2_teleop_common.launch"/> -->
    <node pkg="wubble_teleop" type="move_base_joy.py" name="move_base_joy" />
</launch>
