<launch>
    <!-- Start the low-level serial driver and controller manager -->
    <include file="$(find ax12_controller_core)/launch/controller_manager.launch" />
    
    <!-- Start the wubble head pan/tilt controller -->
    <include file="$(find wubble_controllers)/launch/wubble_head.launch" />
</launch>
