<!-- -*- mode: XML -*- -->

<launch>
    <!-- Start the low-level serial driver and controller manager -->
    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: wubble_motor_manager
            serial_ports:
                wubble_dxl:
                    port_name: "/dev/ax12"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 25
                    update_rate: 10
        </rosparam>
    </node>
    
    <!-- Start the wubble head pan/tilt controller -->
    <include file="$(find wubble_controllers)/launch/wubble_head.launch" />
    
    <!-- Start the wubble laser tilt controller -->
    <include file="$(find wubble_controllers)/launch/wubble_laser.launch" />
    
    <!-- Start the smart_arm controller -->
    <include file="$(find wubble_controllers)/launch/wubble_arm.launch" />
</launch>
