<launch>
    <node name="dynamixel_manager" pkg="dynamixel_hardware_interface" type="controller_manager" output="screen">
        <rosparam file="$(find dynamixel_hardware_interface)/config/controller_manager.yaml" command="load"/>
    </node>
    
    <rosparam file="$(find dynamixel_hardware_interface)/config/controller_configuration.yaml" command="load"/>
</launch>
