<launch>

    <!-- load the world environment -->
    <include file="$(find wubble_environments)/launch/wubble_world.launch" />

    <!-- spawn our erratic robot -->
    <include file="$(find wubble_robots)/launch/erratic.launch"/>

    <!-- enable 2d navigation (path planning) -->
    <include file="$(find wubble_robots)/launch/erratic_2dnav.launch" />

    <!-- start rviz with 2dnav configs -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find wubble_demos)/rviz/move_base.vcg"/>

</launch>

