<launch>

    <!-- load the world environment -->
    <include file="$(find wubble_environments)/launch/wubble_world.launch" />

    <!-- spawn our erratic robot -->
    <include file="$(find wubble_robots)/launch/erratic.launch"/>

    <!-- enable teleoperation -->
    <include file="$(find wubble_teleop)/launch/erratic_logitech.launch" />

    <!-- enable stereo vision -->
<!--    <include file="$(find wubble_vision)/stereo_image_proc.launch" />-->

<!--    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find wubble_demos)/rviz/stereo.vcg">
        <remap from="goal" to="move_base_simple/goal" />
    </node>
    
    <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
        <remap from="voxel_grid" to="local_costmap/voxel_grid_throttled"/>
    </node> -->

</launch>
