<launch>
    <!-- Send pr2 urdf to param server -->
    <include file="$(find pr2_description)/robots/upload_pr2.launch" />

    <!-- this launch file provides a robot_state_publisher -->
    <include file="$(find pr2_controller_manager)/controller_manager.launch" />
    <include file="$(find pr2_default_controllers)/pr2_base_controller_odom.launch" />
    <include file="$(find pr2_default_controllers)/head_controller.launch" />
    <include file="$(find pr2_default_controllers)/head_position_controller.launch" />

    <!-- Left arm controllers -->
<!--    <rosparam file="$(find pr2_default_controllers)/pr2_joint_position_controllers.yaml" command="load" />-->
<!--    <node name="l_arm_pos_controller" pkg="pr2_controller_manager" type="spawner"-->
<!--          args="l_shoulder_pan_position_controller-->
<!--                l_shoulder_lift_position_controller-->
<!--                l_upper_arm_roll_position_controller-->
<!--                l_elbow_flex_position_controller-->
<!--                l_forearm_roll_position_controller-->
<!--                l_wrist_flex_position_controller-->
<!--                l_wrist_roll_position_controller-->
<!--                l_gripper_position_controller"-->
<!--          output="screen" >-->
<!--    </node>-->

    <!-- Right arm controllers -->
<!--    <rosparam file="$(find pr2_default_controllers)/pr2_joint_position_controllers.yaml" command="load" />-->
<!--    <node name="r_arm_pos_controller" pkg="pr2_controller_manager" type="spawner"-->
<!--          args="r_shoulder_pan_position_controller-->
<!--                r_shoulder_lift_position_controller-->
<!--                r_upper_arm_roll_position_controller-->
<!--                r_elbow_flex_position_controller-->
<!--                r_forearm_roll_position_controller-->
<!--                r_wrist_flex_position_controller-->
<!--                r_wrist_roll_position_controller-->
<!--                r_gripper_position_controller"-->
<!--          output="screen" >-->
<!--    </node>-->

    <!-- Right arm gripper effort controller -->
<!--    <rosparam file="$(find pr2_default_controllers)/pr2_joint_effort_controllers.yaml" command="load" />-->
<!--    <node name="r_arm_gripper_effort_controller" pkg="pr2_controller_manager" type="spawner" args="r_gripper_effort_controller" />-->
    <node pkg="fake_localization" type="fake_localization" name="fake_localization" />

    <node pkg="image_view" type="image_view" name="image_view" >
        <remap from="image" to="wide_stereo/left/image_raw" />
    </node>
</launch>
