<launch>
    <group ns="student">
        <!-- Create new robot -->
        <node name="spawn_pr2_student_urdf"
              pkg="gazebo_tools"
              type="spawn_gazebo_model"
              args="robot_description -x -1 -y 0 -z 0 -w 0 -m student"
              respawn="false"
              output="screen" />

        <!-- Include common robot controllers and a camera -->
        <include file="$(find wubble_teleop)/launch/pr2_robot_common.launch" />
    </group>
</launch>
