<launch>

    <!-- Create a transform sender for linking these frames. -->
    <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 40" />

    <!-- send pr2.xml to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find wubble_robots)/defs/erratic/erratic.urdf.xacro'" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_erratic" pkg="gazebo_tools" type="gazebo_model" args="-z 0.051 -p robot_description spawn robot_description" respawn="false" output="screen" />

    <!-- Controller Manager -->
    <include file="$(find pr2_controller_manager)/controller_manager.launch" />

    <!-- load controllers -->
    <node name="diffdrive" pkg="gazebo_plugins" type="gazebo_ros_diffdrive" respawn="true" output="screen"/>

    <node pkg="pr2_robot_actions" type="set_laser_tilt" name="action_set_laser_tilt" />
    <include file="$(find wubble_robots)/launch/erratic_lasers_and_filters.launch" />    

    <rosparam file="$(find wubble_robots)/controllers/erratic_controllers.yaml" command="load" />
    <node name="head_tilt_controller" pkg="pr2_controller_manager" type="spawner"
          args="head_tilt_controller" 
          output="screen">
    </node>

    <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="true" output="screen" >
        <param name="odom_frame_id" value="odom"/>
    </node>

</launch>

