<launch>
    <group ns="prosilica">
        <param name="trigger_mode" type="str" value="streaming"/>
        <param name="ip_address" type="str" value="10.68.0.20"/>
        <param name="auto_exposure" type="bool" value="False"/>
        <param name="auto_gain" type="bool" value="False"/>
        <param name="auto_whitebalance" type="bool" value="False"/>
        <param name="exposure" type="double" value="0.04"/>
        <param name="gain" type="int" value="1"/>
        <param name="whitebalance_red" type="int" value="100"/>
        <param name="whitebalance_blue" type="int" value="100"/>
        <param name="frame_id" type="string" value="high_def_optical_frame" />
    </group>
  
    <node name="prosilica" pkg="prosilica_camera" type="prosilica_node" respawn="false" output="screen"/>
    
    <node name="image_proc" pkg="image_proc" type="image_proc" ns="camera" output="screen"/>
    
    <node name="map_to_overhead" pkg="tf" type="static_transform_publisher" args="0 0 3.2 0 0 0 map high_def_optical_frame 100" />
</launch>
