<launch>
    <!-- send erratic description to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find wubble_description)/urdf/wubble.urdf.xacro'" />
    
    <!-- start all hardware systems -->
    <include file="$(find wubble_controllers)/launch/wubble_controllers.launch" />
    <include file="$(find ua_erratic_player)/launch/erratic_base.launch" />
    
    <!-- Publish joint_states information -->
    <node name="joint_states_publisher" pkg="wubble_controllers" type="joint_states_publisher.py" />
    <node name="erratic_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    
    <!-- Starts the hokuyo laser -->
    <node name="tilt_laser" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
        <remap from="scan" to="tilt_laser/scan"/>
        <param name="frame_id" value="laser_link"/>
    </node>
    
        <!-- Laser Filters -->
    <node pkg="laser_filters" type="scan_to_cloud_filter_chain" respawn="true" name="laser_shadow_filter">
        <remap from="scan" to="tilt_laser/scan" />
        <remap from="cloud_filtered" to="tilt_scan_shadow_filtered" />
        <param name="target_frame" value="base_footprint" />
        <param name="high_fidelity" value="true" />
        <rosparam command="load" file="$(find wubble_description)/params/shadow_filter.yaml" />
    </node>
    
    <!-- use empty map -->
<!--    <node name="map_server" pkg="map_server" type="map_server" args="$(find wubble_environments)/Media/materials/textures/empty_map.yaml" respawn="true" />-->
    
    <!-- enable navigation -->
    <include file="$(find wubble_description)/launch/wubble_move_base.launch" />

    <!-- costmap_2d markers -->
    <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
        <remap from="voxel_grid" to="move_base_node/local_costmap/voxel_grid_throttled"/>
    </node>


    <!-- Starts SLAM mapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" respawn="false" output="screen" >
        <remap from="scan" to="tilt_laser/scan" />
        <param name="inverted_laser" value="true" />
        <param name="base_frame" value="base_footprint" />
    </node>
    
<!--    <include file="$(find wubble_teleop)/launch/erratic_logitech.launch" />-->
    
<!--    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wubble_mapping)/rviz/mapping.vcg" output="screen" />-->
</launch>

