<launch>
    <!-- Start the joystick node -->
    <node respawn="true" pkg="joy" type="joy_node" name="joy" >
        <param name="dev" type="string" value="/dev/input/js1" />
        <!-- <param name="deadzone" value="0.12" /> -->
        <remap from="joy" to="logitech" />
    </node>

    <!-- Remap joystick buttons from Xbox scheme to Logitech scheme -->
    <node pkg="joystick_remapper" type="joystick_remapper.py" name="remapper" >
        <remap from="joy_source" to="logitech" />    <!-- Set input correctly -->
        <remap from="joy_dest" to="joy" />           <!-- Republish on "joy" -->
        <param name="button_mapping" type="string" value="1 2 0 3 4" />
        <param name="axis_mapping" type="string" value="0 1 -1 2 3 -1 4 5" />
    </node>

    <!-- Load world, robots and controllers -->
    <include file="$(find wubble_teleop)/launch/pr2_teleop_common.launch"/>
</launch>
