<launch>
    <!-- Start gazebo with wubble world blocks world room -->
    <include file="$(find wubble_environments)/launch/wubble_world.launch" />

    <!-- Include the teacher robot in the simulation (teleoperated) -->
    <include file="$(find wubble_teleop)/launch/teacher.launch" />

    <!-- Include the student robot in the simulation (ICARUS controlled) -->
    <include file="$(find wubble_teleop)/launch/student.launch" />
</launch>
