<launch>
    <group ns="teacher">
        <!-- Create new robot -->
        <node name="spawn_pr2_teacher_urdf"
              pkg="gazebo_tools"
              type="spawn_gazebo_model"
              args="robot_description -x 1 -y 0 -z 0 -w 180 -m teacher"
              respawn="false"
              output="screen" />

        <!-- Include common robot controllers and a camera -->
        <include file="$(find wubble_teleop)/launch/pr2_robot_common.launch" />

        <!-- Start joystick robot controllers for the teacher -->
        <node pkg="wubble_teleop" type="move_base_joy.py" name="move_base_joy" />
        <node pkg="wubble_teleop" type="move_head_joy.py" name="move_head_joy" />
        <node pkg="wubble_teleop" type="move_arm_joy.py" name="move_arm_joy" />
    </group>
</launch>
