<launch>
    <!-- send the erratic robot XML to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find erratic_description)/urdf/erratic.urdf.xacro'" />

    <!-- spawn stock gazebo with a slightly customized empty world -->
    <node name="gazebo" pkg="gazebo" type="gazebo" 
          args="$(find simulation_semantics)/worlds/empty.world" 
          respawn="false" output="screen"/>

    <!-- start the map server -->
    <node name="map_node" pkg="map_server" type="map_server" 
          args="$(find wubble_environments)/Media/materials/textures/empty_map.yaml" respawn="true" output="screen" />

    <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="true" output="screen" >
        <param name="odom_frame_id" value="odom"/>
    </node>

</launch>
