<!-- -*- mode: XML -*- -->

<launch>
    <!-- Start the low-level serial driver and controller manager -->
    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: charlie_motor_manager
            serial_ports:
                dxl_tty0:
                    port_name: "/dev/ttyUSB0"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 25
                    update_rate: 10
        </rosparam>
    </node>

    <!-- Start the charlie wheels controller -->
    <include file="$(find charlie_controllers)/launch/charlie_wheels.launch" />

    <!-- Start the charlie arm (claw) controller -->
    <include file="$(find charlie_controllers)/launch/charlie_arm_claw.launch" />

    <!-- Start the charlie arm (rfid) controller -->
    <include file="$(find charlie_controllers)/launch/charlie_arm_rfid.launch" />

    <node name="charlie_robot" pkg="charlie_controllers" type="charlie.py" output="screen"/>
</launch>
