<launch>
    <node name="ax12_driver_manager" pkg="ax12_driver_core" type="manager.py" output="screen" required="true">
        <param name="port_name" type="str" value="/dev/tty.usbserial-A9005N0l"/>
        <param name="baud_rate" type="int" value="1000000"/>
        <param name="max_motor_id" type="int" value="25"/>
        <param name="update_rate" type="int" value="1"/>
    </node>

    <!-- Load smart arm parameters from YAML file -->
    <rosparam file="$(find smart_arm_controller)/launch/arm.yaml" command="load"/>

    <node name="arm_spawner" pkg="ax12_driver_core" type="driver_ctrl.py"
    args="start $(find smart_arm_controller)/src/smart_arm_controller/smart_arm.py"
    output="screen"/>
</launch>
