<launch>
    <!-- Load joint controller configuration from YAML file to parameter server -->
    <rosparam file="$(find smart_arm_controller)/config/smart_arm.yaml" command="load"/>

    <!-- Start all SmartArm joint controllers -->
    <node name="smart_arm_controller_spawner" pkg="ax12_controller_core" type="controller_spawner.py"
          args="--port /dev/ttyUSB0
                shoulder_pan_controller
                shoulder_tilt_controller
                elbow_tilt_controller
                wrist_rotate_controller
                finger_right_controller
                finger_left_controller"
          output="screen"/>
</launch>
