<launch>
  <node pkg="camera1394" name="monocam" type="camera1394_node">
    <remap from="camera" to="monocam"/>
    <param name="guid" type="string" value="0055050400033409"/>
    <param name="video_mode" value="640x480_mono8"/>
    <param name="iso_speed" value="400"/>
    <param name="frame_rate" value="30"/>
    <param name="bayer_pattern" value="grbg"/>
  </node>

  <node pkg="videre_stereo_cam" name="videre_stereo_node" type="videre_stereo_node">
    <param name="guid" type="string" value="0055050400083362"/>
    <param name="frame_rate" value="30"/>
  </node>
  
  <node pkg="ultraspeech" name="ultrasound" type="ros_dvgrab"/>

  <group ns="left">
    <node pkg="image_proc" name="image_proc_left" type="image_proc"/>
   <node pkg="image_view" name="image_view_left" type="image_view"> 
      <remap from="image" to="image_color"/>
    </node>
    <node pkg="ultraspeech" name="stereoleft_capture" type="ultraspeech" args="stereoleft">
      <remap from="image" to="image_color"/>
    </node>
  </group>

  <group ns="right">
    <node pkg="image_proc" name="image_proc_right" type="image_proc"/>
    <!--<node pkg="image_view" name="image_view_right" type="image_view"> 
      <remap from="image" to="image_color"/>
    </node>-->
    <node pkg="ultraspeech" name="stereoright_capture" type="ultraspeech" args="stereoright">
      <remap from="image" to="image_color"/>
    </node>
  </group>

  <group ns="monocam">
    <node pkg="image_proc" name="image_proc_mono" type="image_proc"/>
    <node pkg="image_view" name="image_view_mono" type="image_view"> 
      <remap from="image" to="image_color"/>
    </node>
    <node pkg="ultraspeech" name="monocam_capture" type="ultraspeech" args="monocam">
      <remap from="image" to="image_color"/>
    </node>
  </group>

</launch>
