<launch>

  <node pkg="videre_stereo_cam" name="videre_stereo_node" type="videre_stereo_node" args='_guid:=0055050400083362 _bayer_pattern="grbg" _iso_speed:=400 _frame_rate:=30'/>
 
  <!--<node pkg="videre_stereo_cam" name="videre_stereo_node" type="videre_stereo_node">
    <param name="guid" type="string" value="0055050400083362"/>
    <param name="frame_rate" value="30"/>
    <param name="iso_speed" value="400"/>
    <param name="bayer_pattern" type="string" value="grbg"/>
  </node>-->

  <group ns="left">
    <node pkg="image_proc" name="image_proc" type="image_proc"/>
    <node pkg="image_view" name="image_view" type="image_view" args="image:=image_color"/>
    <node pkg="ultraspeech" name="stereoleft_capture" type="video_writer" args="stereoleft">
      <remap from="image" to="image_color"/>
    </node>
  </group>

  <group ns="right">
    <node pkg="image_proc" name="image_proc" type="image_proc"/>
    <node pkg="image_view" name="image_view" type="image_view" args="image:=image_color"/>  
    <node pkg="ultraspeech" name="stereoright_capture" type="video_writer" args="stereoright">
      <remap from="image" to="image_color"/>
    </node>  
  </group>

</launch>
