<launch>

    <!-- put world XML description on param server - Is this necessary? -->
    <param name="/gazebo_world_description" textfile="$(find wubble_environments)/worlds/simple_blocks.world" />

    <!-- start gazebo with wubbleworld -->
    <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find wubble_environments)/worlds/simple_blocks.world" respawn="false" />

    <!-- start the map server -->
    <node name="map_node" pkg="map_server" type="map_server" args="$(find wubble_environments)/Media/materials/textures/blocks_world_map.yaml" respawn="false" output="screen" />

</launch>
