<launch>  
    <node name="ax12_manager" pkg="ax12_driver_core" type="manager.py" output="screen" required="true">
        <param name="port_name" type="str" value="/dev/tty.usbserial-A9005MZc"/>
        <param name="baud_rate" type="int" value="1000000"/>
        <param name="max_motor_id" type="int" value="25"/>
        <param name="update_rate" type="int" value="1"/>
    </node>
    
    <node name="drivetrain_spawner" pkg="ax12_driver_core" type="driver_ctrl.py" args="start $(find ccs)/src/ccs/drivetrain_ax12.py" output="screen"/>
    <node name="rfidarm_spawner" pkg="ax12_driver_core" type="driver_ctrl.py" args="start $(find ccs)/src/ccs/rfidarm_ax12.py" output="screen"/>
    <node name="clawarm_spawner" pkg="ax12_driver_core" type="driver_ctrl.py" args="start $(find ccs)/src/ccs/clawarm_ax12.py" output="screen"/>
</launch>
