<?xml version="1.0"?>

<!--
* Software License Agreement (BSD License)
*
* Copyright (c) 2010, Antons Rebguns. All rights reserved.
*
* Redistribution and use in source and binary forms, with or without
* modification, are permitted provided that the following conditions
* are met:
*
*  * Redistributions of source code must retain the above copyright
*    notice, this list of conditions and the following disclaimer.
*  * Redistributions in binary form must reproduce the above
*    copyright notice, this list of conditions and the following
*    disclaimer in the documentation and/or other materials provided
*    with the distribution.
*  * Neither the name of University of Arizona nor the names of its
*    contributors may be used to endorse or promote products derived
*    from this software without specific prior written permission.
*
* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
* "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
* LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
* FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
* COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
* INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
* BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
* LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
* CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
* LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
* ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
* POSSIBILITY OF SUCH DAMAGE.

* Author: Antons Rebguns
-->

<robot
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
    
    <property name="shoulder_pitch_lower" value="-2.523"/>
    <property name="shoulder_pitch_upper" value=" 1.012"/>
    <property name="shoulder_pan_lower" value="-3.334"/>
    <property name="shoulder_pan_upper" value=" 0.920"/>
    <property name="upperarm_roll_lower" value="-0.628"/>
    <property name="upperarm_roll_upper" value=" 3.749"/>
    <property name="elbow_flex_lower" value="-1.793"/>
    <property name="elbow_flex_upper" value=" 1.705"/>
    <property name="forearm_roll_lower" value="-2.612"/>
    <property name="forearm_roll_upper" value=" 2.617"/>
    <property name="wrist_pitch_lower" value="-2.122"/>
    <property name="wrist_pitch_upper" value=" 2.648"/>
    <property name="wrist_roll_lower" value="-2.597"/>
    <property name="wrist_roll_upper" value=" 2.633"/>
</robot>
