<!-- -*- mode: XML -*- -->

<launch>
    <!-- Start the Erratic mobile base driver -->
    <node name="erratic_base" pkg="erratic_player" type="erratic_player" output="screen" >
        <remap from="odom" to="odom"/>
        <remap from="battery_state" to="battery_state"/>
        <param name="port_name" value="/dev/wubble2Erratic"/>
        <param name="enable_ir" value="False"/>
        <param name="odometry_frame_id" value="odom"/>
        <param name="publish_tf" value="false"/>
        <param name="x_stddev" value="0.005"/>
        <param name="y_stddev" value="0.005"/>
        <param name="rotation_stddev" value="0.1"/>
    </node>
</launch>

