<!-- -*- mode: XML -*- -->

<launch>
    <include file="$(find wubble2_robot)/launch/robot_common.launch" />

    <!-- Start IMU and robot_pose_ekf for navigation -->
    <include file="$(find wubble2_robot)/launch/imu.launch" />
    
    <node name="robot_pose_ekf" pkg="robot_pose_ekf" type="robot_pose_ekf" output="screen">
        <param name="freq" value="30.0"/>
        <param name="sensor_timeout" value="1.0"/>
        <param name="publish_tf" value="true"/>
        <param name="odom_used" value="true"/>
        <param name="imu_used" value="true"/>
        <param name="vo_used" value="false"/>
        
        <remap from="odom" to="odom"/>
        <remap from="imu_data" to="imu/data"/>
    </node>

    <!-- Navigation - map server, base laser and filter chain and move base -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find wubble_environments)/Media/materials/textures/wubble_lab_playground_0.025.yaml" respawn="true" />
    <include file="$(find wubble_2dnav)/wubble2_2dnav.launch" />

    <!-- Comment out above two lines and uncomment this to create a map -->
<!--    <include file="$(find wubble_2dnav_slam)/wubble2_2dnav.launch" />-->

    <!-- Start arm planning and navigation, collision map and planning environment -->
    <include file="$(find wubble2_robot)/launch/arm_navigation.launch" />
</launch>

