<!-- -*- mode: XML -*- -->

<launch>
    <machine name="c1" address="wubbletwo" user="robotlab" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="true"/>
    <machine name="c2" address="papak" user="anton" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)"/>

    <!-- Start Power Relay and Finger Pressure Sensor InterfaceKit -->
    <node name="relay_arm_sensor_interface_kit" pkg="phidgets_ros" type="interface_kit.py" output="screen">
        <param name="serial_number" type="int" value="124427"/>
    </node>

    <!-- Start Gripper IR Sensor InterfaceKit -->
    <node name="top_interface_kit" pkg="phidgets_ros" type="interface_kit.py" output="screen">
        <param name="serial_number" type="int" value="106950"/>
    </node>

    <!-- Send erratic description to parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find wubble_description)/urdf/wubble2.urdf.xacro'" />

    <!-- Start the Erratic mobile base driver -->
    <include file="$(find wubble2_robot)/launch/erratic_controller.launch" />

    <!-- Start IMU -->
    <node name="chr_6dm_imu" pkg="chr_6dm_imu" type="chr_6dm_node.py" output="screen">
        <param name="port_name" type="str" value="/dev/ttyUSB0"/>
        <param name="frame_id" value="imu_link"/>
        <param name="ignore_pitch_roll" value="true"/>
        <param name="data_rate" value="50"/>
    </node>

    <node name="robot_pose_ekf" pkg="robot_pose_ekf" type="robot_pose_ekf" output="screen">
        <param name="freq" value="30.0"/>
        <param name="sensor_timeout" value="1.0"/>
        <param name="publish_tf" value="true"/>
        <param name="odom_used" value="true"/>
        <param name="imu_used" value="true"/>
        <param name="vo_used" value="false"/>
        
        <remap from="odom" to="odom"/>
        <remap from="imu_data" to="imu/data"/>
    </node>

    <!-- Start arm and head motor controllers -->
    <include file="$(find wubble2_robot)/launch/arm_controllers.launch" />
    <include file="$(find wubble2_robot)/launch/head_controllers.launch" />
    <node name="ax12_to_pr2" pkg="wubble2_robot" type="ax12_to_pr2_state_msgs.py" />

    <!-- Publish joint state information -->
    <node name="joint_states_publisher" pkg="wubble2_robot" type="joint_states_publisher.py" output="screen" />
    <node name="wubble_state_publisher" pkg="robot_state_publisher" type="state_publisher" output="screen" />

    <!-- Start laser, tilt and filter chain -->
    <include file="$(find wubble2_robot)/launch/laser_perception.launch" />

    <!-- Navigation - map server, base laser and filter chain and move base -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find wubble_environments)/Media/materials/textures/wubble_lab_playground_0.025.yaml" respawn="true" />
    <include file="$(find wubble2_robot)/launch/laser_navigation.launch" />
    <include file="$(find wubble_2dnav)/wubble2_2dnav.launch" />

    <!-- Start stereo and swissranger nodes -->
    <include file="$(find wubble2_robot)/launch/stereo_tof_perception.launch" />

    <!-- Start arm planning and navigation, collision map and planning environment -->
    <include file="$(find wubble2_robot)/launch/arm_navigation.launch" />
</launch>

