<launch>
    <!-- Load laser tilt controller parameters from YAML file -->

    <rosparam file="$(find charlie_controllers)/config/wheels.yaml" command="load"/>

    <!-- Start the laser tilt controller -->
    <node name="charlie_wheels_spawner" pkg="ax12_controller_core" type="controller_spawner.py"
          args="--port /dev/ttyUSB0 --command start
		left_front_wheel_controller
		right_front_wheel_controller
		left_rear_wheel_controller
		right_rear_wheel_controller"
          output="screen"/>
</launch>
