<!-- -*- mode: XML -*- -->

<launch>
    <rosparam file="$(find charlie_controllers)/config/arm_rfid.yaml" command="load"/>
    <node name="charlie_rfidarm_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=charlie_motor_manager
                --port=dxl_tty0
                --type=simple
                rfid_shoulder_pan_controller
                rfid_elbow_tilt_controller
                rfid_wrist_tilt_controller"
          output="screen"/>
</launch>
