<!-- -*- mode: XML -*- -->

<launch>
    <rosparam file="$(find charlie_controllers)/config/wheels.yaml" command="load"/>
    <node name="charlie_wheels_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=charlie_motor_manager
                --port=dxl_tty0
                --type=simple
                left_front_wheel_controller
                right_front_wheel_controller
                left_rear_wheel_controller
                right_rear_wheel_controller"
          output="screen"/>
</launch>
